<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Matrículas</title>
    <!-- Incluindo Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">Acadêmico</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/Professor/">Professores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/estudante/">Estudantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/coordenador/">Coordenadores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/diretor/">Diretores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/instituicaoensino/">Instituições de Ensino</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/areas/">Áreas do Saber</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/cursos/">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/periododecurso/">Períodos de Curso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/disciplina/">Disciplinas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/matricula/">Matrículas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/avaliacoes/">Avaliações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/frequencias/">Frequências</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/turma/">Turmas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/cidade/">Cidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/ocorrencia/">Ocorrências</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/disciplinasporcurso/">Disciplinas por Curso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/tipodeavaliacao/">Tipos de Avaliação</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h2 class="mb-4">Matrículas</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Instituição</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Pessoa</th>
                    <th scope="col">Data de Início</th>
                    <th scope="col">Data de Previsão de Término</th>
                </tr>
            </thead>
            <tbody>
                {% for matricula in matriculas %}
                <tr>
                    <td>{{ matricula.instituicao }}</td>
                    <td>{{ matricula.curso }}</td>
                    <td>{{ matricula.pessoa }}</td>
                    <td>{{ matricula.data_inicio }}</td>
                    <td>{{ matricula.data_previsao_termino }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Incluindo jQuery e Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
